html {
    background-color: #1b1b1b;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
body {
    overflow: hidden;
    height: 100vw;
}

h1 {
    font-size: 5vw;
}

.entry::before {
    content: "☐ "
}